:root{
--main-text-color: #757575;
--title-text-color: #FFFFFF;
--accent-color: #2196F3;
--secondary-title-color:#212121;
--black-color: #000000;
}

/* Стили студия */

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}

 p{
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
 }

 .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color)
 }
 .logo-second{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000
 }

.list{
    list-style: none;
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    text-decoration: none; 
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color)
}

.nav-list .nav-link .current{
    color: var(--accent-color);
}
 
.primary-button{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: var(--accent-color);
    text-decoration: none 
}
.title-features{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}
.sectoin-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color)
}
.names-team{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color)
}

.profession{
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--main-text-color)

}